# order deny,allow
# deny from all
# allow from 127.0.0.1 # YOUR IP

DirectoryIndex index.html

RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Fallback all other routes to index.html
RewriteRule ^ /info/index.html [L]
