.Container {
    display: flex;
    border-bottom: 1px solid #E8E8E8;
}

.Container:hover {
    background-color: #e6f7ff;
}

.Container div {
    padding: 1rem 2rem;
}

.Name {
    width: 30%;
    font-weight: 700;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
}

.Value {
    width: 70%;
    overflow: auto;
}
