.Container {
    padding: 3rem 3rem 58px 3rem;
}

.Search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Search .Input {
    max-width: 100%;
    width: 40rem;
}
